<div id="cover1" class="cover">
  <div class="container">
    <div class="about">
      <h2 id="tableLabel">Player Details</h2>
      <p *ngIf="!player"><em>Loading...</em></p>
    </div>
    <div class="content">
      <h2>{{ player.firstName }} {{ player.lastName }} </h2>

      <div class="player-img">
        <img [src]="player.imageUrl" width="200" height="300">

      </div>
      <div class="content-details">

        <p>Age: {{ player.age }}</p>
        <p>Nationality: {{ player.nationality }}</p>
        <p>Gender: {{ player.gender }}</p>
        <p>Rating: {{player.playerRating}}</p>
        <p>Score in tournament: {{ player.playerScore }}</p>
      </div>


    </div>
    <div class="description">
      {{player.description}}
    </div>
  </div>
</div>















