<header>
  <nav class="navbar navbar-expand-sm bg-black navbar-toggleable-sm  border-bottom box-shadow mb-6">
    <div class="container">
      <a class="navbar-brand " [routerLink]="['/']">TennisApp</a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link " [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/players']">Players</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/ranking']">Ranking</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/matches']">Matches</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

